#ApplicationAdministrationSystemCache .table-cell-key-key {
    width: 50%;
}

#ApplicationAdministrationSystemCache .table-cell-key-content code {
    width: 50em;
    max-height: 25em;
    overflow: auto;
    display: inline-block;
}
