
#DebugTableEventAttach .ContainerIndexTableYesno {
    display: inline-block;
    width: 100%;
    text-align: center;
}

#DebugTableEventAttach .ContainerIndexTableYesnoYes::before{
    content: '';
    display: inline-block;
    width: 15px;
    height: 15px;
    -moz-border-radius: 7.5px;
    -webkit-border-radius: 7.5px;
    border-radius: 7.5px;
    background-color: green;
}

#DebugTableEventAttach .ContainerIndexTableYesnoNo::before{
    content: '';
    display: inline-block;
    width: 15px;
    height: 15px;
    -moz-border-radius: 7.5px;
    -webkit-border-radius: 7.5px;
    border-radius: 7.5px;
    background-color: red;
}
