.ContainerFactoryComment.container {
    padding: 0.5em;
    margin: 0.5em;
    border: 1px #000000 solid;
}

.ContainerFactoryComment .header {
    padding: 0.5em;
    margin: 0.5em;
}

.ContainerFactoryComment .content {
    padding: 0.5em;
    margin: 0.5em;
}

.ContainerFactoryComment .footer {
    padding: 0.5em;
    margin: 0.5em;
}
